control abstract 0.00e+00
control academ 0.00e+00
control academia 0.00e+00
control accept 0.00e+00
control accid 0.00e+00
control accommod 0.00e+00
control accomod 0.00e+00
control account 0.00e+00
control accuraci 0.00e+00
control acknowledg 0.00e+00
control action 2.30e-02
control activ 0.00e+00
control actor 0.00e+00
control add 0.00e+00
control address 0.00e+00
control adventur 0.00e+00
control affili 4.10e-02
control agent 1.80e-02
control air 6.20e-01
control airport 0.00e+00
control allegi 6.20e-01
control altitud 0.00e+00
control ambul 0.00e+00
control amount 6.00e-03
control analog 0.00e+00
control ancestor 6.20e-01
control answer 0.00e+00
control ap 0.00e+00
control apertur 0.00e+00
control appel 0.00e+00
control appl 0.00e+00
control area 1.30e-02
control areacod 0.00e+00
control arriv 0.00e+00
control arrow 0.00e+00
control articl 0.00e+00
control artist 0.00e+00
control asset 6.20e-01
control assist 0.00e+00
control astronom 6.20e-01
control atm 0.00e+00
control atmospher 6.20e-01
control attribut 1.55e-01
control aunt 6.20e-01
control author 6.00e-03
control authorizephysician 0.00e+00
control auto 0.00e+00
control avail 0.00e+00
control avocado 0.00e+00
control award 0.00e+00
control az 0.00e+00
control back 3.70e-02
control backpack 0.00e+00
control ballist 0.00e+00
control banker 0.00e+00
control barometr 6.20e-01
control beach 0.00e+00
control bear 0.00e+00
control bed 0.00e+00
control beer 0.00e+00
control begin 9.80e-02
control belief 6.20e-01
control beverag 0.00e+00
control bicycl 0.00e+00
control biopsi 0.00e+00
control birthdai 6.20e-01
control biscuit 0.00e+00
control blend 0.00e+00
control blue 0.00e+00
control board 6.20e-01
control bodi 4.60e-02
control book 0.00e+00
control bottom 6.20e-01
control bound 0.00e+00
control box 0.00e+00
control branch 6.20e-01
control bread 0.00e+00
control breadth 0.00e+00
control breakfast 0.00e+00
control brother 6.20e-01
control brows 0.00e+00
control build 0.00e+00
control butter 0.00e+00
control cach 0.00e+00
control calcul 0.00e+00
control calendar 0.00e+00
control camera 0.00e+00
control capac 6.20e-01
control capit 0.00e+00
control captur 0.00e+00
control car 0.00e+00
control card 0.00e+00
control care 4.00e-03
control carriag 0.00e+00
control cart 0.00e+00
control categori 0.00e+00
control cd 0.00e+00
control cdplayermpplay 0.00e+00
control cell 0.00e+00
control center 0.00e+00
control centr 0.00e+00
control cereal 0.00e+00
control chancellor 0.00e+00
control chang 0.00e+00
control cheap 0.00e+00
control check 0.00e+00
control checkroom 0.00e+00
control chosen 0.00e+00
control cite 0.00e+00
control citi 0.00e+00
control citizen 6.20e-01
control citizenri 2.49e-01
control class 0.00e+00
control clear 0.00e+00
control clinic 4.00e-03
control close 0.00e+00
control coconut 0.00e+00
control code 0.00e+00
control coffe 0.00e+00
control col 0.00e+00
control cola 0.00e+00
control colour 0.00e+00
control comedi 0.00e+00
control comedyfilmfantacyfilm 0.00e+00
control comment 0.00e+00
control commit 0.00e+00
control compact 0.00e+00
control compani 0.00e+00
control compat 0.00e+00
control complement 0.00e+00
control complex 0.00e+00
control consid 6.20e-01
control consist 0.00e+00
control contact 0.00e+00
control contactema 0.00e+00
control content 0.00e+00
control contract 0.00e+00
control control 1.00e+00
control convert 0.00e+00
control coordin 0.00e+00
control copi 6.20e-01
control corner 0.00e+00
control corpor 1.70e-02
control cost 0.00e+00
control count 0.00e+00
control counti 0.00e+00
control countri 0.00e+00
control cousin 6.20e-01
control cpr 0.00e+00
control credit 0.00e+00
control cup 0.00e+00
control currenc 6.00e-03
control current 0.00e+00
control custom 9.80e-02
control cycl 0.00e+00
control dai 4.50e-02
control data 0.00e+00
control date 1.90e-02
control daughter 6.20e-01
control daylight 0.00e+00
control de 0.00e+00
control deacon 0.00e+00
control decreas 1.55e-01
control defend 6.20e-01
control degre 0.00e+00
control densiti 0.00e+00
control departur 0.00e+00
control depend 2.49e-01
control descend 6.20e-01
control design 0.00e+00
control desir 6.90e-02
control destin 0.00e+00
control destruct 0.00e+00
control detail 0.00e+00
control devic 4.80e-02
control devtag 0.00e+00
control diagnos 0.00e+00
control diagnosi 0.00e+00
control diagnost 0.00e+00
control diet 0.00e+00
control digit 0.00e+00
control dimens 0.00e+00
control direct 2.44e-01
control director 0.00e+00
control directori 0.00e+00
control disapprov 6.20e-01
control disjoint 0.00e+00
control dislik 6.20e-01
control distanc 0.00e+00
control district 0.00e+00
control doctor 0.00e+00
control document 0.00e+00
control dollar 0.00e+00
control door 0.00e+00
control doubt 6.20e-01
control dough 0.00e+00
control drink 0.00e+00
control drive 0.00e+00
control drought 0.00e+00
control drug 0.00e+00
control drugstor 0.00e+00
control durat 1.70e-02
control duti 0.00e+00
control dvd 0.00e+00
control dvdplayermpplay 0.00e+00
control dx 0.00e+00
control ear 0.00e+00
control earlier 9.80e-02
control east 0.00e+00
control ebookord 0.00e+00
control econom 6.20e-01
control economi 6.20e-01
control ed 0.00e+00
control edit 0.00e+00
control editor 6.20e-01
control educ 2.10e-02
control electr 0.00e+00
control element 0.00e+00
control elev 0.00e+00
control elf 0.00e+00
control ema 0.00e+00
control emploi 6.20e-01
control employ 0.00e+00
control employe 0.00e+00
control encyclopedia 0.00e+00
control end 8.70e-02
control engin 0.00e+00
control enjoi 6.20e-01
control entail 1.55e-01
control entiti 0.00e+00
control equip 0.00e+00
control equival 0.00e+00
control estim 0.00e+00
control euro 0.00e+00
control exact 0.00e+00
control exchang 0.00e+00
control execut 6.20e-01
control exp 0.00e+00
control expens 0.00e+00
control experi 1.00e+00
control experiment 1.00e+00
control expertis 6.20e-01
control exploit 6.20e-01
control exposur 0.00e+00
control express 0.00e+00
control face 6.20e-01
control faculti 0.00e+00
control fall 0.00e+00
control famili 4.40e-02
control fan 0.00e+00
control fantaci 0.00e+00
control fantacyfilm 0.00e+00
control farmland 0.00e+00
control fast 0.00e+00
control fellow 0.00e+00
control fiction 0.00e+00
control field 6.20e-01
control figur 0.00e+00
control file 0.00e+00
control fill 4.00e-02
control film 0.00e+00
control filter 0.00e+00
control financ 0.00e+00
control financi 6.20e-01
control finder 0.00e+00
control fine 0.00e+00
control finish 9.80e-02
control fiscal 6.20e-01
control flight 0.00e+00
control flip 0.00e+00
control flour 0.00e+00
control fn 8.90e-02
control focal 0.00e+00
control fodder 0.00e+00
control food 0.00e+00
control form 6.20e-01
control format 0.00e+00
control found 6.20e-01
control free 0.00e+00
control front 1.10e-02
control fruit 0.00e+00
control full 0.00e+00
control fund 0.00e+00
control futur 0.00e+00
control gate 0.00e+00
control gazett 0.00e+00
control gdp 2.49e-01
control gender 0.00e+00
control gener 0.00e+00
control genera 0.00e+00
control genr 0.00e+00
control geo 0.00e+00
control geocod 0.00e+00
control geograph 0.00e+00
control geometri 0.00e+00
control geopolit 9.00e-03
control give 0.00e+00
control govermentorgan 0.00e+00
control govern 5.00e-03
control gp 0.00e+00
control grain 0.00e+00
control grandfath 6.20e-01
control grandmoth 6.20e-01
control green 0.00e+00
control groceri 0.00e+00
control group 2.49e-01
control head 0.00e+00
control headquart 6.20e-01
control heal 0.00e+00
control health 0.00e+00
control height 5.80e-02
control high 0.00e+00
control higher 0.00e+00
control hike 0.00e+00
control hip 0.00e+00
control hmac 0.00e+00
control hold 0.00e+00
control hole 6.20e-01
control home 6.20e-01
control honei 0.00e+00
control hospit 2.00e-03
control host 6.20e-01
control hot 0.00e+00
control hotel 0.00e+00
control hour 0.00e+00
control hous 0.00e+00
control husband 6.20e-01
control ia 0.00e+00
control ic 0.00e+00
control icon 0.00e+00
control id 0.00e+00
control identifi 0.00e+00
control ideolog 6.20e-01
control imag 0.00e+00
control incid 0.00e+00
control incom 0.00e+00
control increas 1.55e-01
control independ 1.55e-01
control index 0.00e+00
control industri 2.49e-01
control info 0.00e+00
control inform 0.00e+00
control instanc 0.00e+00
control insur 0.00e+00
control intellig 6.20e-01
control intent 6.60e-02
control intern 0.00e+00
control intersect 0.00e+00
control interv 0.00e+00
control inventori 0.00e+00
control investig 0.00e+00
control irish 0.00e+00
control irishcoffeemixerycola 0.00e+00
control isbn 0.00e+00
control issu 0.00e+00
control item 3.30e-02
control job 0.00e+00
control journal 0.00e+00
control judg 0.00e+00
control judici 2.49e-01
control judiciari 2.49e-01
control kei 0.00e+00
control keyword 0.00e+00
control kill 0.00e+00
control kilo 0.00e+00
control kilomet 0.00e+00
control kip 0.00e+00
control label 0.00e+00
control lamp 0.00e+00
control land 0.00e+00
control languag 0.00e+00
control larg 0.00e+00
control larger 6.20e-01
control latitud 0.00e+00
control leader 6.20e-01
control learn 0.00e+00
control lectur 0.00e+00
control legal 3.40e-02
control legisl 2.49e-01
control legislatur 2.49e-01
control lemon 0.00e+00
control len 0.00e+00
control lend 0.00e+00
control length 5.50e-02
control letter 0.00e+00
control level 0.00e+00
control liabil 0.00e+00
control licens 0.00e+00
control life 0.00e+00
control lift 0.00e+00
control light 0.00e+00
control lightn 0.00e+00
control likelihood 1.55e-01
control linguist 0.00e+00
control liquid 0.00e+00
control list 0.00e+00
control liz 0.00e+00
control lm 0.00e+00
control local 0.00e+00
control locat 0.00e+00
control lock 0.00e+00
control longitud 0.00e+00
control loss 6.20e-01
control low 0.00e+00
control lr 0.00e+00
control luxuri 0.00e+00
control machin 0.00e+00
control made 0.00e+00
control magazin 0.00e+00
control magnitud 3.30e-02
control mall 0.00e+00
control mania 0.00e+00
control manufactur 0.00e+00
control map 0.00e+00
control marker 0.00e+00
control market 0.00e+00
control marketplac 0.00e+00
control mass 0.00e+00
control match 0.00e+00
control materi 0.00e+00
control max 0.00e+00
control measur 1.50e-02
control meat 0.00e+00
control media 0.00e+00
control medic 1.40e-02
control medium 0.00e+00
control meet 9.80e-02
control member 1.96e-01
control mercantil 0.00e+00
control merchant 0.00e+00
control merg 0.00e+00
control mess 0.00e+00
control messag 0.00e+00
control meter 0.00e+00
control method 0.00e+00
control microwav 0.00e+00
control middl 0.00e+00
control mile 0.00e+00
control min 0.00e+00
control minut 0.00e+00
control missil 0.00e+00
control mixeri 0.00e+00
control mixerycola 0.00e+00
control mm 0.00e+00
control modal 1.55e-01
control mode 0.00e+00
control model 0.00e+00
control modifi 0.00e+00
control modul 0.00e+00
control monei 0.00e+00
control monetari 1.91e-01
control monograph 0.00e+00
control month 0.00e+00
control motion 0.00e+00
control move 0.00e+00
control movement 0.00e+00
control mp 0.00e+00
control mpplayer 0.00e+00
control mpplayercdplayermicrowaveoven 0.00e+00
control mpplayerdvdplay 0.00e+00
control mpplayerportabledvdplay 0.00e+00
control municip 0.00e+00
control nation 1.70e-02
control nearbi 0.00e+00
control neighbor 6.20e-01
control nephew 6.20e-01
control niec 6.20e-01
control node 0.00e+00
control norm 1.55e-01
control north 0.00e+00
control northwest 0.00e+00
control number 0.00e+00
control object 0.00e+00
control obtain 0.00e+00
control occup 1.10e-02
control occur 1.91e-01
control oe 0.00e+00
control offer 0.00e+00
control oft 0.00e+00
control ogl 0.00e+00
control older 6.20e-01
control open 0.00e+00
control oper 6.20e-01
control orang 0.00e+00
control orbit 6.20e-01
control order 0.00e+00
control organ 8.00e-03
control oven 0.00e+00
control page 0.00e+00
control paper 0.00e+00
control park 0.00e+00
control parser 0.00e+00
control part 0.00e+00
control password 0.00e+00
control past 0.00e+00
control path 0.00e+00
control patient 6.40e-02
control pea 0.00e+00
control peopl 2.49e-01
control period 6.20e-01
control perman 6.20e-01
control person 0.00e+00
control personnel 0.00e+00
control phone 0.00e+00
control photograph 0.00e+00
control phrase 0.00e+00
control physic 0.00e+00
control physician 0.00e+00
control pill 0.00e+00
control pixel 0.00e+00
control place 0.00e+00
control plaintiff 6.20e-01
control plan 0.00e+00
control player 0.00e+00
control poll 0.00e+00
control popul 0.00e+00
control port 0.00e+00
control portabl 0.00e+00
control portabledvdplayermpplay 0.00e+00
control posit 2.30e-02
control postal 0.00e+00
control postcod 0.00e+00
control power 0.00e+00
control precis 0.00e+00
control predict 0.00e+00
control prepar 0.00e+00
control pressur 6.20e-01
control pretti 0.00e+00
control price 0.00e+00
control pricei 0.00e+00
control primari 2.49e-01
control print 0.00e+00
control probabl 1.55e-01
control process 1.10e-02
control product 0.00e+00
control profess 0.00e+00
control professor 0.00e+00
control profil 0.00e+00
control profit 2.90e-02
control project 0.00e+00
control projectil 0.00e+00
control properti 6.20e-01
control proposit 0.00e+00
control provid 0.00e+00
control psycholog 0.00e+00
control public 0.00e+00
control publish 8.00e-03
control purchas 0.00e+00
control purpos 1.91e-01
control qualiti 0.00e+00
control quantiti 0.00e+00
control queri 0.00e+00
control question 0.00e+00
control quot 0.00e+00
control quotat 0.00e+00
control quotient 6.20e-01
control radiu 0.00e+00
control rang 0.00e+00
control rate 0.00e+00
control raw 0.00e+00
control rea 0.00e+00
control reader 0.00e+00
control real 0.00e+00
control reason 0.00e+00
control recipi 0.00e+00
control recomend 0.00e+00
control recommend 0.00e+00
control record 0.00e+00
control red 0.00e+00
control refer 0.00e+00
control region 0.00e+00
control regist 2.69e-01
control religi 6.20e-01
control remov 0.00e+00
control render 0.00e+00
control report 0.00e+00
control requir 0.00e+00
control research 0.00e+00
control resid 6.20e-01
control restrict 0.00e+00
control result 0.00e+00
control retail 0.00e+00
control review 0.00e+00
control rigid 0.00e+00
control romant 0.00e+00
control room 0.00e+00
control rout 0.00e+00
control rural 0.00e+00
control safe 0.00e+00
control sampl 0.00e+00
control sandwich 0.00e+00
control save 0.00e+00
control sc 0.00e+00
control scholarship 0.00e+00
control scienc 0.00e+00
control sea 0.00e+00
control search 0.00e+00
control season 0.00e+00
control seat 0.00e+00
control select 0.00e+00
control sell 0.00e+00
control seller 0.00e+00
control send 0.00e+00
control sendemaphonenumb 0.00e+00
control sender 0.00e+00
control senior 0.00e+00
control sensor 0.00e+00
control shape 0.00e+00
control ship 0.00e+00
control shop 0.00e+00
control short 0.00e+00
control shutter 0.00e+00
control side 6.20e-01
control sightse 0.00e+00
control sim 0.00e+00
control similar 0.00e+00
control simpl 0.00e+00
control sister 6.20e-01
control size 0.00e+00
control skill 0.00e+00
control skin 6.20e-01
control sku 0.00e+00
control slider 0.00e+00
control slr 0.00e+00
control small 0.00e+00
control smaller 6.20e-01
control softwar 0.00e+00
control son 6.20e-01
control sort 0.00e+00
control sound 0.00e+00
control sourc 0.00e+00
control southeast 0.00e+00
control span 0.00e+00
control spatial 0.00e+00
control speed 0.00e+00
control spell 0.00e+00
control spheric 0.00e+00
control sport 0.00e+00
control spot 0.00e+00
control staff 0.00e+00
control stai 6.20e-01
control standard 0.00e+00
control start 9.00e-02
control state 2.10e-02
control static 0.00e+00
control step 0.00e+00
control stepfath 6.20e-01
control stepmoth 6.20e-01
control stock 0.00e+00
control stop 0.00e+00
control store 0.00e+00
control stori 0.00e+00
control stream 0.00e+00
control street 0.00e+00
control string 0.00e+00
control student 6.20e-01
control subdivis 2.49e-01
control subset 6.20e-01
control suggest 0.00e+00
control summari 0.00e+00
control sunris 0.00e+00
control sunset 0.00e+00
control support 0.00e+00
control surf 0.00e+00
control surfac 6.20e-01
control switchoffmessemodul 0.00e+00
control switchonmessemmodul 0.00e+00
control symbol 0.00e+00
control symptom 0.00e+00
control system 3.20e-02
control tag 0.00e+00
control tangibl 0.00e+00
control tansi 0.00e+00
control tast 0.00e+00
control tat 0.00e+00
control tax 0.00e+00
control tea 0.00e+00
control teacher 6.20e-01
control technolog 0.00e+00
control telephon 0.00e+00
control temperatur 6.20e-01
control tempor 9.80e-02
control temporari 6.20e-01
control tenant 6.20e-01
control text 0.00e+00
control thing 0.00e+00
control thumbnail 0.00e+00
control time 9.00e-03
control tip 0.00e+00
control titl 0.00e+00
control top 6.20e-01
control tore 0.00e+00
control total 1.68e-01
control town 0.00e+00
control trade 0.00e+00
control traffic 0.00e+00
control transact 5.08e-01
control transloc 0.00e+00
control transport 0.00e+00
control treatment 0.00e+00
control twilight 0.00e+00
control ultra 0.00e+00
control uncl 6.20e-01
control unilater 0.00e+00
control union 0.00e+00
control uniqu 0.00e+00
control unit 0.00e+00
control univers 0.00e+00
control unlock 0.00e+00
control upc 0.00e+00
control updat 0.00e+00
control urban 0.00e+00
control urbana 0.00e+00
control url 0.00e+00
control user 0.00e+00
control vehicl 4.70e-02
control vh 0.00e+00
control vhsdvd 0.00e+00
control vice 0.00e+00
control vicin 0.00e+00
control video 0.00e+00
control view 0.00e+00
control viewer 0.00e+00
control villag 0.00e+00
control visit 0.00e+00
control ware 0.00e+00
control warm 0.00e+00
control wealth 6.20e-01
control weapon 0.00e+00
control weather 0.00e+00
control welfar 0.00e+00
control wheel 0.00e+00
control whiskei 0.00e+00
control wholesal 0.00e+00
control wi 0.00e+00
control width 0.00e+00
control wife 6.20e-01
control window 0.00e+00
control wireless 0.00e+00
control wirelessplayerwmaplay 0.00e+00
control wma 0.00e+00
control wmaplay 0.00e+00
control work 0.00e+00
control worldwid 0.00e+00
control written 0.00e+00
control yahoo 0.00e+00
control year 2.00e-02
control zip 0.00e+00
control zipcod 0.00e+00
control zone 0.00e+00
